
/* Globales */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
}

ul li a {
  list-style: none;
  text-decoration: none;
  transition: ease-in 0.5s

}


/* Nav bar */
.navbar-light .navbar-nav .nav-link {
  color: RGB(88, 131, 47);
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover{
  box-shadow: 0 3px 2px -2px #598230;
}

.logo {
  border-radius: 300px;
  width: 60px;
  height: 60px;
  margin-right: auto;
}

.navbar-toggler-icon{
  margin-bottom: 0px;
}

/* Productos */
.product-effect:hover {
  -webkit-box-shadow: 0 10px 5px rgba(105, 69, 69, 0.12), 0 10px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 0 10px 5px rgba(105, 69, 69, 0.12), 0 10px 5px rgba(0, 0, 0, 0.24);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.spandex {
  font-weight: bold;
}

.spandex-product {
  font-weight: 600px;
}

.spandex-p {
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.margin-nav-fixer {
  margin-top: 70px;
}

.product-image{
  min-width: 100%;
  height: auto;
  padding-top: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-radius: .25rem;
}

.product-image.fruits{
  background-image: url('../images/fitfruits.png');
}

.product-image.deodorant{
  background-image: url('../images/desodorante.png');
}

.product-image.bag{
  background-image: url('../images/bolsadegradable.png');
}

.product-image.milk{
  background-image: url('../images/productos/lechealmendras.png');
}

.product-image.paste{
  background-image: url('../images/productos/pastadental.png');
}

.product-image.esponja{
  background-image: url('../images/productos/esponjavegetal.png');
}

.product-info{
  flex: 0 0 auto; /* flex-shrink, flex-grow, flex-basis*/
  justify-self: flex-end;
  margin-top: auto;
}


/* Home */
.f-container{
  display: flex;
  flex-direction: column;
}

.title-awarness {
  color: #598230;
  font-weight: 500;
  letter-spacing: 5px;
  word-spacing: 1px;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.title-awarness::after {
  display: block;
  height: 2px;
  background-color: #598230;
  content: " ";
  width: 100px;
  margin: 30px auto 0px;
}

.title-awarness-item {
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 1px;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.p-awarness {
  font-size: 20px;
  font-weight: 200;
  margin: 20px 20px 30px 20px;
  text-align: center;
}

.icon-awarness {
  font-size: 40px;
  margin: 20px 0px 20px 0px;
}

.icon-align{
  text-align: center;
}


.icon-heart-color {
  color: red;
}

.icon-empathy-color {
  color: green;
}

.icon-paw-color {
  color: RGB(147, 85, 41);
}

.section-effect {
  -webkit-box-shadow: 0 2px 2px rgba(105, 69, 69, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 2px rgba(105, 69, 69, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

.vida-icons {
  font-size: 40px;
}


/* Estilo de vida */
.title-lifestyle {
  font-weight: 600px;
  font-size: 30px;
  margin: 40px 20px 10px 20px;
  letter-spacing: 3px;
  text-align: center;
}

.subtitle-lifestyle {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0px 5px 0px;
  text-align: center;
}

.p-lifestyle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
}

.p-rem{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.underlined-lifestyle {
  text-decoration: underline;
}


/* Footer */
.menu-footer-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: RGB(139, 195, 74);
  text-align: center;
}

.menu-footer-object {
  color: #fff;
  margin-top: 20px;
}

.footer-copyright {
  color: #fff;
}

.social-footer {
  color: #fff;
  font-size: 20px;
  padding: 5px;
}

/*Recipes*/
.subtitle-recipe{
  font-weight: 600;
  margin-bottom: 0;
}

.pizza-icon-recipe{
  padding: 5px;
  color: #cf9447;
}

.cookie-icon-recipe{
  padding: 5px;
  color:#cf9447;
}

.pie-icon-recipe{
  padding: 5px;
  color: #cf9447;
}

.instagram-icon-recipe{
  padding: 5px;
  color: #DD2A7B;
}